#!/bin/bash

# Install zap zsh plugin manager

SYNC_UTILS="{{ joinPath .chezmoi.sourceDir "dot_bootstrap/executable_syncutils" }}"

source "$SYNC_UTILS"

if [ ! -d "$HOME/.local/share/zap/" ]; then
  log "Getting zap.sh"
  zsh <(curl -s https://raw.githubusercontent.com/zap-zsh/zap/master/install.zsh) --branch release-v1 --keep
else
  log "zap zsh already found, skipping."
fi

# devpod
{{ if eq .chezmoi.username "vscode" }}
# Remove default zshrc if it exists
if [ -f "$HOME/.zshrc" ]; then
  rm -f "$HOME/.zshrc"
fi
{{ end }}
