#!/bin/sh
{{- if eq .chezmoi.hostname "artixbox" }}

ansible-galaxy collection install kewlfft.aur

ansible-playbook ~/.bootstrap/laptop.yml --ask-become-pass

echo "Ansible installation complete."

{{- else }}
ansible-playbook ~/.bootstrap/desktop.yml --ask-become-pass

echo "Ansible installation complete."

{{- end }}
