#!/usr/bin/env bash
set -euo pipefail

Z_DIR="$HOME/.local/share/zoxide"
A_DIR="$HOME/.local/share/atuin"

error() {
  # Log to stderr and exit with failure.
  printf "%s\n" "$1" >&2
  exit 1
}

# 1. Preconditions
command -v rclone >/dev/null || error "rclone command not found, please install it"
[ -f "$HOME/.config/rclone/rclone.conf" ] || error "rclone config not found run chezmoi apply with smartcard"

{{- if or (eq .chezmoi.hostname "artixbox") (eq .chezmoi.hostname "artixframe") }}
Z_REMOTE="IdriveEncrypt:zoxide-arch"
A_REMOTE="IdriveEncrypt:atuin-arch"
{{- else }}
Z_REMOTE="IdriveEncrypt:zoxide-gentoo"
A_REMOTE="IdriveEncrypt:atuin-gentoo"
{{- end }}

restore_if_missing() {
  local REMOTE="$1"
  local TARGET="$2"

  if [ -d "$TARGET" ] && [ "$(ls -A "$TARGET")" ]; then
    echo "[*] $TARGET exists, skipping"
    return
  fi

  mkdir -p "$TARGET"

  rclone sync "$REMOTE" "$TARGET" \
    --fast-list \
    --transfers 16 \
    --checkers 16 \
    --multi-thread-streams 0
    --retries 5

  echo "[+] Restored $TARGET"
}

restore_if_missing "$Z_REMOTE" "$Z_DIR"
restore_if_missing "$A_REMOTE" "$A_DIR"
