#!/bin/sh

#!/bin/sh
{{- if eq .chezmoi.hostname "artixbox" }}
ansible-playbook ~/.bootstrap/laptop.yml --ask-become-pass
{{- else }}
ansible-playbook ~/.bootstrap/desktop.yml --ask-become-pass
{{- end }}
