# Get editor completions based on the config schema
"$schema" = 'https://starship.rs/config-schema.json'

# Sets user-defined palette
# Palettes must be defined _after_ this line
palette = "catppuccin_macchiato"
right_format = "$battery"


# Starship modules
[character]
# Note the use of Catppuccin color 'peach'
# success_symbol = "[[󰄛](green) ❯](peach)"
# error_symbol = "[[󰄛](red) ❯](peach)"
# vimcmd_symbol = "[󰄛 ❮](subtext1)" # For use with zsh-vi-mode

success_symbol = "[❯](bold green) "
error_symbol = "[](bold red) "
vicmd_symbol = '[N](bold sapphire) '
vimcmd_replace_one_symbol = '[❮](bold yellow)'
vimcmd_replace_symbol = '[❮](bold red)'
vimcmd_visual_symbol = '[V](bold mauve)'

[line_break]
disabled = false

#Disable the package module, hiding it from the prompt completely
[package]
disabled = true

[battery]
full_symbol = "⚡"
charging_symbol = " "
discharging_symbol = " "

[[battery.display]]
threshold = 30
style = "bold red"


[golang]
symbol = " "

[directory]
truncate_to_repo = false
style = "bold sapphire"
read_only = " "

[git_branch]
style = "bold mauve"
format = "[$symbol$branch]($style) "
symbol = " "



[palettes.catppuccin_macchiato]
rosewater = "#f4dbd6"
flamingo = "#f0c6c6"
pink = "#f5bde6"
mauve = "#c6a0f6"
red = "#ed8796"
maroon = "#ee99a0"
peach = "#f5a97f"
yellow = "#eed49f"
green = "#a6da95"
teal = "#8bd5ca"
sky = "#91d7e3"
sapphire = "#7dc4e4"
blue = "#8aadf4"
lavender = "#b7bdf8"
text = "#cad3f5"
subtext1 = "#b8c0e0"
subtext0 = "#a5adcb"
overlay2 = "#939ab7"
overlay1 = "#8087a2"
overlay0 = "#6e738d"
surface2 = "#5b6078"
surface1 = "#494d64"
surface0 = "#363a4f"
base = "#24273a"
mantle = "#1e2030"
crust = "#181926"


