// @import "catppuccin-latte"
// @import "catppuccin-frappe"
@import "catppuccin-macchiato"
@import "config.rasi"
// @import "catppuccin-mocha"

listview {
    columns:      1;
    lines:        5;
}

window {
    width:                       300px;
}


