* {
    bg-col:  #282c34;
    bg-col-light: #282c34;
    border-col: #51afef;
    selected-col: #24283b;
    blue: #51afef;
    fg-col: #efefef;
    fg-col2: #ff6c6b;
    grey: #efefef;
    width: 600;
}

