* {
    bg-col:  #282a36;
    bg-col-light: #282a36;
    border-col: #8be9fd;
    selected-col: #282a36;
    blue: #8be9fd;
    fg-col: #f8f8f2;
    fg-col2: #Ff5555;
    grey: #f8f8f2;
    width: 600;
}

