* {
    bg-col:  #24283b;
    bg-col-light: #24283b;
    border-col: #bb9af7;
    selected-col: #24283b;
    blue: #bb9af7;
    fg-col: #c0caf5;
    fg-col2: #f7768e;
    grey: #c0caf5;
    width: 600;
}

