
@import "macchiato.css";

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: monospace;
    font-size: 11px;
    font-weight: bold;
    padding: 0;
    margin : 0;
    min-height: 0;

}


window#waybar {
    background-color: shade (@base, 0.9);
    background-color: transparent;
    /* border: 3px solid alpha(@crust, 0.3); */
    /* color: #ffffff; */
    /* transition-property: background-color; */
    /* transition-duration: .5s; */
}

window#waybar.hidden {
    opacity: 0;
}

.modules-center {
  background: @base;
  padding: 6px 12px;
  border-radius: 28px;
  margin-top: 7px;
  /* margin-bottom: 5px */
  /* box-shadow: 0 4px 12px; */

}

tooltip{
  background: @base;
  border: 1px solid @blue;
  border-radius: 13px;

}


button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* #mode { */
/*     background-color: @base; */
/*     border-bottom: 3px solid #ffffff; */
/* } */

#clock,
#battery,
#cpu,
#memory,
#bluetooth,
#disk,
#temperature,
#backlight,
#workspaces
#pulseaudio,
#custom-pacman,
#custom-torrent,
#custom-internet,
#custom-music,
#custom-mail,
#custom-icon,
#custom-power
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#mpd {
    background-color: @base0;
    padding: 0 8px;
    margin: 0 5px;
    border-radius: 0;
    border: none;
    box-shadow: none;
}

#workspaces {
	background: transparent;
	margin: 0 10px 0px 10px;
  padding: 0;
	border-radius: 16px;
  border: solid 0px @yellow;
  font-weight: bold;
  /* font-style: normal; */
}
#workspaces button {
    padding: 0px 5px;
    margin: 0px 5px;
    border-radius: 16px;
    background: transparent;
    color: @overlay2;
}

#workspaces button.active {
    color: @base;
    background-color: @blue;
    border-radius: 16px;
}

#workspaces button:hover {
	background-color: @maroon;
	color: black;
	border-radius: 16px;
}

/* #clock, #battery, #bluetooth, #custom-music, #custom-mail, #custom-pacman, #custom-torrent, #custom-internet, #disk, #cpu, #temperature, #memory #pulseaudio { */
/* 	background: transparent; */
/* 	padding: 3px 3px 3px 3px; */
/* 	margin: 3px 3px 3px 3px; */
/*   border-radius: 8px; */
/*   border: solid 0px #f4d9e1; */
/* } */

#window {
    color: @surface0;
    background: @blue;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 16px;
    /*border-left: solid 1px #282738;*/
    /*border-right: solid 1px #282738;*/
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: bold;
    /* font-size: 10px; */
}

#clock {
    color: @blue;
    /* background-color: @surface0; */
    /* border-radius: 16px; */
    /* margin: 5px; */
    /* margin-left: 5px; */
    /* margin-right: 5px; */
    /* padding: 0px 10px 0px 10px; */
    font-weight: bold;
}

#battery {
    color: @yellow;
    /* background-color: @surface0; */
    /* border-radius: 16px; */
    /* margin: 5px; */
    /* margin-left: 5px; */
    /* margin-right: 5px; */
    /* padding: 0px 10px 0px 10px; */
    font-weight: bold;
}

#pulseaudio {
    color: @peach;
    background-color: @surface0;
    border-radius: 16px;
    margin: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0px 10px 0px 10px;
    font-weight: bold;
}

#battery.charging, #battery.plugged {
    color: @green;
    /* background-color: @surface0; */
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    /* background-color: @surface0; */
    color: @red;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: @base;
}

#cpu {
    color: @mauve;
    /* background-color: @surface0; */
    /* border-radius: 16px; */
    /* margin: 5px; */
    /* margin-left: 5px; */
    /* margin-right: 5px; */
    /* padding: 0px 10px 0px 10px; */
    font-weight: bold;
}
#bluetooth {
    color: @text;
    /* background-color: @base; */
    /* border-radius: 16px; */
    /* margin: 5px; */
    /* margin-left: 5px; */
    /* margin-right: 5px; */
    /* padding: 0px 10px 0px 10px; */
    font-weight: bold;
}
#bluetooth.off {
    color: @text;
    /* background-color: @base; */
    /* border-radius: 16px; */
    /* margin: 5px; */
    /* margin-left: 5px; */
    /* margin-right: 5px; */
    /* padding: 0px 10px 0px 10px; */
    font-weight: bold;
}
#bluetooth.connected {
    color: @text;
    background-color: @base;
    border-radius: 16px;
    margin: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0px 10px 0px 10px;
    font-weight: bold;
}

#memory {
    color: @sapphire;
    /* background-color: @surface0; */
    /* border-radius: 16px; */
    /* margin: 5px; */
    /* margin-left: 5px; */
    /* margin-right: 5px; */
    /* padding: 0px 10px 0px 10px; */
    font-weight: bold;
}

#disk {
    color: @yellow;
    /* background-color: @surface0; */
    /* border-radius: 16px; */
    /* margin: 5px; */
    /* margin-left: 5px; */
    /* margin-right: 5px; */
    /* padding: 0px 10px 0px 10px; */
    font-weight: bold;
}

#backlight {
    color: @text;
    /* background-color: @surface0; */
    /* border-radius: 16px; */
    /* margin: 5px; */
    /* margin-left: 5px; */
    /* margin-right: 5px; */
    /* padding: 0px 10px 0px 10px; */
    font-weight: bold;
}

#custom-power {
    color: @text;
    /* background-color: @base; */
    /* border-radius: 16px; */
    /* margin: 5px; */
    /* margin-left: 5px; */
    /* margin-right: 5px; */
    /* padding: 0px 10px 0px 10px; */
    font-weight: bold;
}



#custom-mail {
    color: @text;
    background-color: @base;
    border-radius: 16px;
    margin: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0px 10px 0px 10px;
    font-weight: bold;
}

#custom-torrent {
    color: @text;
    background-color: @base;
    border-radius: 16px;
    margin: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0px 10px 0px 10px;
    font-weight: bold;
}

#custom-pacman {
    color: @mauve;
    /* background-color: @surface0; */
    /* border-radius: 16px; */
    /* margin: 5px; */
    /* margin-left: 5px; */
    /* margin-right: 5px; */
    /* padding: 0px 10px 0px 10px; */
    font-weight: bold;
}

#custom-internet {
    color: @text;
    background-color: @base;
    border-radius: 16px;
    margin: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0px 10px 0px 10px;
    font-weight: bold;
}

#custom-music {
    color: @sky;
    /* background-color: @surface0; */
    /* border-radius: 16px; */
    /* margin: 5px; */
    /* margin-left: 5px; */
    /* margin-right: 5px; */
    /* padding: 0px 10px 0px 10px; */
    font-weight: bold;
}

#custom-icon {

    color: @blue2;
    background-color: @surface0;
    border-radius: 16px;
    margin: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0px 10px 0px 10px;
    font-size: 17px;
    font-weight: bold;
}

#temperature {
    color: @red;
    /* background-color: @surface0; */
    /* border-radius: 16px; */
    /* margin: 5px; */
    /* margin-left: 5px; */
    /* margin-right: 5px; */
    /* padding: 7px 10px 7px 10px; */
    font-weight: bold;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#tray {
    color: @green;
    /* background-color: @surface0; */
    /* border-radius: 16px; */
    /* margin: 5px; */
    /* margin-left: 5px; */
    /* margin-right: 5px; */
    /* padding: 0px 10px 0px 10px; */
    font-weight: bold;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}
